* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

@media screen and (max-width: 700px) {
  html {
    font-size: 15px; } }
@media screen and (max-width: 600px) {
  html {
    font-size: 14px; } }
@media screen and (max-width: 500px) {
  html {
    font-size: 13px; } }
@media screen and (max-width: 400px) {
  html {
    font-size: 12px; } }

h1,
h2,
h3 {
  font-size: inherit;
  margin: 0;
  text-align: center;
  margin: 2.5em 0 1em; }

body {
  margin: 0;
  font-family: "Courier New", monospace;
  line-height: 160%; }

table {
  width: 100%; }

dt {
  font-weight: bold; }

.wrapper {
  width: 90%;
  max-width: 38em;
  margin: 0 auto; }

.centered {
  text-align: center; }

img {
  display: block;
  margin: 4em auto;
  max-height: 75vh;
  max-width: 100%; }
